.article-overview {
  display: grid;
  padding: 24px;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px;
  align-items: stretch;
  max-width: 768px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .article-overview {
    grid-template-columns: repeat(auto-fit, minmax( min(192px, 320px), 1fr ));
    grid-auto-rows: 240px;
  }
}

@media (min-width: 1024px) {
  .article-overview {
    grid-auto-rows: 300px;
  }
}